<div>
  <%= flash[:notice] %>
</div>

<h1>Books#new</h1>
<p>Find me in app/views/books/new.html.erb</p>

<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<!--newならいけるcreateのエラーメッセージ　indexに飛ばしたい　indexに飛ばせたら上の記述は消す-->